# Server runtime
NODE_ENV=production
PORT=3000

# Sell.do
SELL_DO_API_KEY=replace_with_your_sell_do_api_key

# Gmail SMTP for email verification (get app password from Gmail settings)
GMAIL_EMAIL=notifications.athryan@gmail.com
GMAIL_APP_PASSWORD=usthgkvwpokiohxx
